extends ../components/layout

block content
  div
    h1.main-header.text-center About us
    div.container.pt-5
      .row.justify-content-md-center
        .col-lg-4
          img(src="https://images.jdmagicbox.com/comp/kolkata/s8/033pxx33.xx33.151218013056.c8s8/catalogue/seascapes-marine-aquarium-for-everyone-sodepur-kolkata-aquariums-46pmjpyn6j.jpg", alt="", class="img-fluid rounded ")
        .col-lg-6 
          p AquaShop is the Best Online Aquarium Store where you can buy Aquarium Plants and Aquarium Products at the most competitive prices. We have the largest collection of Aquarium Plants Online and Aquarium Products Online from leading brands like ADA, AQUAEL, Australian Black Worms, Chihiros, Co2 Art, DiscusFood, Eheim, eSHa, Hikari, Schego, Seachem, Shiruba, SunSun, Tropica, VIV and many more. This company was established in 2006 and has a large portfolio spread across the various segments of Aquarium Industry namely Wholesale of Freshwater Aquarium Fish, Wholesale and Retail of Freshwater Aquarium Plants, Nature Aquarium Designing, Consultation & Setup and Retail of Aquarium Products. The Online store was established in 2011 with an aim to provide Quality Aquarium Plants and Aquarium Products to Hobbyists at the best price.
