mixin footer()
  footer(class="bg-light p-3 text-center")
    .logo
    p
      | &copy; Copyright reserved, Rachana Amin 2023.
      a(target="_blank" rel="noopener noreferrer" href="https://github.com/aminrachana")