mixin hero(heroLogo)
  div(class="text-center hero")
    img(
      class="mb-3 app-logo"
      src=heroLogo
      alt="Pug logo"
      width="120"
    )
    h1(class="mb-4 text-primary") AquaShop
    p(class="lead")
      | Leading Aquarium shop in canada since 2015

