mixin home-content()
  div(class="next-steps")
    h2(class="my-5 text-center") What we sell?

    div(class="row")
      div(class="col-md-5 mb-4")
        h4(class="mb-3 text-primary") Fish food
        p  Aquarium Fish Food which is scientifically developed to meet the basic dietary needs for healthy growth and lustrous skin, it helps to reduce water pollution with digestible ingredients. High nutritious feed accelerating growth rate of Tropical Fish and Gold Fish. Contains natural ingredients outstandingly increase appetite.

      div(class="col-md")

      div(class="col-md-5 mb-4")
        h4(class="mb-3 text-primary") Aquarium accessories
        p We sell premium aqurium acessories like aquarium filters, aquarium air pumps, fish catching nets, aquarium Ornaments, aquarium lights, and so on.

    div(class="row")
      div(class="col-md-5 mb-4")
        h4(class="mb-3 text-primary") Aquarium Plants
        p Aquashop is the largest supplier of Aquarium Plants Online in Canada since 2015. Choose from a wide variety of 2000+ Varieties of Plants which can be easily filtered to shortlist plants that will suit your requirement.

      div(class="col-md")

      div(class="col-md-5 mb-4")
        h4(class="mb-3 text-primary") Aquarium tanks
        p Aquarium tanks in shape of round, box, cube, etc. we also sell customized aquarium tanks with preferred material.
